{% load i18n %}

<div id="search_form">
    <form action="{{ base_url }}" method="post">{% csrf_token %}
        <div class="search_column" id="search_column1">
            <div class="search_block" id="looking_for">
                <span class="search_title">{% trans "I'm looking for" %}</span>
                {{ form.type_exchange }}
            </div>
            <div class="search_block_bottom" id="type">
                <span class="search_title">{% trans "Type" %}</span>
                {{ form.type }}
            </div>
        </div>
        <div class="search_column" id="search_column2">
            <div class="search_block" id="activity">
                <span class="search_title">{% trans "Activity" %}</span>
                {% trans "Experience" %} : {{ form.activity }}
            </div>
            <div class="search_block_bottom" id="free_search">
                <span class="search_title">{% trans "Free search" %}</span>
                {{ form.free_search }}
            </div>
        </div>
        <div class="search_column" id="search_column3">
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location" %}</span>
                {{ form.location }}
            </div>
            <div class="search_block_bottom" id="thematic">
                <span class="search_title">{% trans "Thematic" %}</span>
                {{ form.thematic }}
            </div>
        </div>
        <div id="search_bottom">
            <div class="search_block_bottom" id="mode">
                <span class="search_title">{% trans "Exchange mode" %}</span>
                {{ form.mode }}
            </div>
            <div class="search_block_bottom" id="skills">
                <span class="search_title">{% trans "If skills" %}</span>
                {{ form.skills }}
            </div>
            <div class="search_block_bottom" id="search_submit">
                <div id="results_block"><span class="nb_results">{{ exchanges.count }}</span> <span class="label_results">{% trans "Results" %}</span></div>
                <input type="submit" value="{% trans "Search" %}" />
            </div>
        </div>
    </form>
</div>


<div id="result_exchanges">
<!-- <div class="exchanges_pagination">Pagination</div> -->
{% for e in exchanges %}
    <div class="coop_exchange">
        <div class="block_img">
        </div>
        <div class="block_desc">
            <div class="exchange_type">{% trans "Type" %} : {{ e.get_eway_display }}</div>
            <div class="exchange_title">{{ e.title }}</div>
            <div class="exchange_desc">{{ e.description|safe }}</div>
            <a href="{{ base_url }}p/{{ e.pk }}"><div class="exchange_button_detail">{% trans "Show details" %}</div></a>
        </div>
    </div>
{% endfor %}

<!-- <div class="exchanges_pagination">Pagination</div> -->
</div>

