#search_form,
#result_exchanges {
    background: #fff;
    border: 1px solid #fad722;
    border-top: 5px solid #fad722;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px #aaa;
    padding: 7px;
    float: left;
}

#search_form {
    margin-top: 5px;
    padding: 0;
}

.coop_exchange,
.coop_exchange_detail {
    border-bottom: 1px solid #ccc;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.coop_exchange_detail {
    border: none;
}

.coop_exchange .block_img {
    width: 220px;
    height: 140px;
    background: #ccc;
    float: left;
}

.coop_exchange .block_desc {
    width: 420px;
    float: left;
    margin-left: 20px;
    padding: 5px;
}

.coop_exchange .exchange_type {
    font-size: 10px;
    font-style: italic;
}

.coop_exchange .exchange_title {
    font-weight: bold;
    font-size: 16px;
}

.coop_exchange .exchange_desc {
    
}

.coop_exchange .exchange_button_detail {
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #f8b133;
    padding: 5px;
    max-width: 120px;
    text-align: center;
    text-shadow: 2px 2px 2px #aaa;
    color: #fff;
    
    /* Old browser */
    background: #f9b43b url("gradient-bg.png") repeat-x top;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    /* Internet Explorer */
    *background: #f9b43b;
    background: #f9b43b\0/;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFfac972, endColorstr=#FFf9b43b);
    /* Navigateurs récents */
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#fac972),
        to(#f9b43b)
    );
    background-image: -webkit-linear-gradient(
        top,
        #fac972,
        #f9b43b
    );
    background-image: -moz-linear-gradient(
        top,
        #fac972,
        #f9b43b
    );
    background-image: -o-linear-gradient(
        top,
        #fac972,
        #f9b43b
    );
    background-image: linear-gradient(
        top,
        #fac972,
        #f9b43b
    );
}

#search_form .search_block,
#search_form .search_block_bottom {
    border-bottom: 1px solid #ccc;
    float: left;
    padding: 5px;
    width: 220px;
}

#search_form .search_block_bottom {
    border-bottom: none;
}

#search_form .search_title {
    font-weight: bold;
    display: block;
}

#search_form .label {
    width: 85px;
    float: left;
    line-height: 25px;
}

#search_form input[type=checkbox] {
    float: left;
}

#search_form .search_column {
    width: 230px;
    height: 170px;
    float: left;
}

#search_form #search_column2,
#search_form #skills {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#search_form #search_bottom {
    border-top: 1px solid #ccc;
    clear: left;
}

#search_form #search_submit {
    background: #fad722;
    color: #fff;
}

#search_form #search_submit .nb_results {
    font-weight: bold;
    font-size: 30px;
}

#search_form #search_submit #results_block {
    
}